:root {
  --ion-background-color: #ecc6cc;

  --ion-color-primary: #f4c5cd;
  --ion-color-primary-rgb: 244, 197, 205;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #d7adb4;
  --ion-color-primary-tint: #f5cbd2;

  --ion-color-secondary: #7d5c61;
  --ion-color-secondary-rgb: 125, 92, 97;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #6e5155;
  --ion-color-secondary-tint: #8a6c71;

  --ion-color-tertiary: #efd0d6;
  --ion-color-tertiary-rgb: 239, 208, 214;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d2b7bc;
  --ion-color-tertiary-tint: #f1d5da;

  --ion-color-success: #bdcd91;
  --ion-color-success-rgb: 189, 205, 145;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #a6b480;
  --ion-color-success-tint: #c4d29c;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #efd1d7;
  --ion-color-danger-rgb: 239, 209, 215;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #d2b8bd;
  --ion-color-danger-tint: #f1d6db;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #efd0d6;
  --ion-color-light-rgb: 236, 198, 204;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d0aeb4;
  --ion-color-light-tint: #eeccd1;
}
