.create-account-button {
  height: 100%;
  font-size: 1rem;
  text-align: start;
}
.create-account-container {
  height: 50px;
  align-items: center;
  width: 100%;
}
.input-border {
  border-bottom: 1px solid var(--ion-color-secondary);
}

.button-text {
  text-transform: none;
  text-align: start;
  letter-spacing: 0;
  font-size: 1rem;
}

.login-register-button {
  margin: 2rem;
}
