.settings-card img {
  margin-bottom: 2rem;
}

.button-container {
  margin: 2rem 0;
  display: flex;
}

.settings-button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.delete-alert {
  color: var(--ion-color-dark) !important;
}
