.settings-card {
  padding: 3rem;
}

.settings-card img {
  margin-bottom: 2rem;
}

.button-container {
  margin: 2rem 0;
  display: flex;
}

.toolbar-container {
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.settings-button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.delete-alert {
  color: var(--ion-color-dark) !important;
}
