.container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--ion-color-dark);
}

.logo {
  width: 350px;
}
